[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
matplotlib = "*"
opencv-contrib-python = "*"
opencv-python = "*"
scikit-learn = "*"
tensorflow = "*"
numpy = "*"
pipfile = "*"
flask = "*"
pip = "*"

[requires]
python_version = "3.7"
